body {
    margin: 0;padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #222;
}
#connectionInfo {
    margin: 8%;
}
#connectionInfo .row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}
.inputWhat {
    flex: 0 0 130px;
}
.inputData {
    flex: 1;
    border-radius: 0 2px 2px 0;
    border: 1px solid hsla(31, 15%, 50%, .25);
}
/* Header */
header {
    background-image: linear-gradient(to bottom, rgb(84, 84, 87), #000);
    min-height: 50px;
}
header .description {
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: #999;
    font-size: 1rem;
}
/* Flex row */
.row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
}
.wrapper {
    display: flex;
}
.content {
    margin: 3%;
}
canvas {
    width: 100%;
}